{% extends 'base.html' %}
  {% block body %}

  <div class="container">
    <h2>Login</h2>
    <form action="/login" method = "POST">
        {% csrf_token %}
       <div>{{msg}}</div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
  </div>
      <br>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="text" class="form-control" name="password" id="password">
  </div>
      <br>
  <div>
    <button type="submit" class="btn btn-primary ">Submit</button>
  </div>
      <br>
        <div class="field">
                <a href="/Signup" type="button" class="btn btn-primary ">Sign Up</a>
              </div>
        <div class="field">
                <a href="/changepassword" type="button" class="btn btn-dark mx-2">Change Password</a>
              </div>

</form>
    </div>

  {% endblock body %}